doctype html
html(lang='en')
  head
    title
        | NTS
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900,100italic,700italic,900italic', rel='stylesheet', type='text/css')
    //- link(rel='shortcut icon' href='img/favicon.ico')
    //- link(rel='apple-touch-icon' href='img/apple-touch-icon-iphone-precomposed.png')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")


    body
      block content
