if (msg.mode == 'signup')
  span
    input(type="text", class="form-control", name="user-name", placeholder="Name")

span
  input(type="text", class="form-control", name="user-email", placeholder="email address")

span
  input(type="password", class="form-control", name="user-password", placeholder="password")
