div.welcomeScreen#welcomeScreen
  span.one
    | Name that Seagal
  span.two
    | A quiz game
  span.three
    | Get a Seagal film.<br>  Guess the character name.

  span.four
    a(href="/login")
      | login
    | to get on the leaderboard
