div(class="why hidden", id="why")
  h3
    | reasons to build Name that Seagal
  ul
    li
      | My friend Sean and I used to quiz each other in college
    li
      | It is Sean's birthday
    li
      | Sean and I have a t-shirt company down the road from where Seagal was born
    li
      | Everybody loves Steven
  h3
    | reasons <b>NOT</b> to build Name that Seagal
  ul
    li
      | NO REASONS EXIST

  em(onclick="seagalGame.closeWhy()")
    | close
  a(href="http://adamvanlente.com", target="new")
    | by adam
