extends components/base

block append content

  include components/header

  include components/welcomeScreen

  if (user)
    input(type="hidden", value="#{user.id}", id="userId")
    input(type="hidden", value="#{user.local.name}", id="username")
    //- a(href="/logout", class="user-button")
    //-   | logout
    span.welcomeUser
      | Welcome back  &nbsp;#{user.local.name}
      a(href="/logout")
        | logout
    button.showScores
      | show leaderboard

  div.buttons#buttons

  div.answerStatus#answerStatus

  div.currentMovie#currentMovie

  div.options#options

  div.gameEndedMessage#gameEndedMessage

  button(onclick="seagalGame.openWhy()", class="openwhy")
    | why?

  include components/why

  div(class="leaderboard hidden", id="leaderboard")

  include components/scripts

  script(type="text/javascript").
    seagalGame.onFirstLoad();
