extends components/base

block append content

  include components/header

  if (user)
    input(type="hidden", value="#{user.id}", id="userId")
    input(type="hidden", value="#{user.local.name}", id="username")
    a(href="/logout", class="user-button")
      | logout
    button.showScores
      | show leaderboard
  else
    include components/welcomeScreen

  div.buttons#buttons

  div.answerStatus#answerStatus

  div.currentMovie#currentMovie

  div.options#options

  div.gameEndedMessage#gameEndedMessage

  include components/scripts

  script(type="text/javascript").
    seagalGame.onFirstLoad();
